html {
  font-size: 100%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #434c5e;
}

.grid {
  padding: 0px;
  margin: 0px;
  height: 100%;
  min-height: 100%;
  width: 100vw;
  background-color: #434c5e;
  color: #eceff4;
  font-family: Verdana;
  display: grid;
  grid-gap: 0.2vh;
  grid-template-columns: 30px 1fr;
  grid-template-rows: 80px 1fr 61px;
  grid-template-areas:
    "sidebar header"
    ". content"
    ". footer";
}

header {
  grid-area: header;
}

.sidebar-open {
  margin-left: 5px;
  margin-top: 5px;
}

#sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2e3440;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

#sidebar a {
  padding-top: 10px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#sidebar a:hover {
  color: #eceff4;
}

#sidebar.active {
  left: 0px;
}

#sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidebar-items > * {
  padding: 1em 0em;
  font-size: 2em;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
  text-align: center;
}
.first {
  margin-top: 30px;
}

#sidebar .toggle-button {
  position: absolute;
  left: 330px;
  top: 20px;
  cursor: pointer;
}

#sidebar .toggle-button span {
  display: block;
  width: 30px;
  height: 5px;
  background-color: #eceff4;
  margin: 5px 0px;
  z-index: 100000;
}

.main {
  grid-area: content;
  margin-right: 30px;
  position: relative;
}

.footer {
  grid-area: footer;
  text-align: center;
  margin-right: 30px;
}

.footer p {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.image {
  max-width: 500px;
  max-height: 500px;
}

a {
  text-decoration: none;
  position: relative;
  color: #5e81ac;
}

a:hover {
  color: #3b4252;
  text-decoration: none;
}

.container div a {
  font-size: 1.4em;
  transition: all 0.5s ease;
}

.fifth {
  grid-column: 5;
  color: #5e81ac;
  font-size: 1.4em;
}

.search-button {
  background-color: #5e81ac;
  border: none;
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  width: 40vw;
}
.search-input {
  padding: 9px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 40vw;
}

.search-input:active,
.search-input:focus {
  border: 1px solid #5e81ac;
}

li {
  color: #5e81ac;
}

.main-auctions {
  text-align: center;
  margin-right: 30px;
}

/* category.html */

.category {
  width: 250px;
  margin: auto;
  text-align: center;
  font-size: 2em;
  padding: 20px;
}
.category a {
  font-size: 35px;
}

@media (orientation: portrait) and (max-width: 767px) {
  .grid {
    grid-template-areas:
      "sidebar"
      "header"
      "content"
      "footer";
    grid-template-rows: 80px 80px 1fr 80px;
    grid-template-columns: 1fr;
  }
  .auctions {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr !important;
  }

  .image {
    max-height: 300px;
    max-width: 300px;
  }
  .main {
    margin-right: 0px;
    max-width: 100vw;
  }
  .footer {
    margin-right: 0px;
  }

  .main-auctions {
    margin-right: 0px;
  }
  .galleryItem p {
    margin: 0px 5px;
  }
  .search-input {
    width: 60vw;
  }
  /* Register */
  .form-input {
    width: auto !important;
  }
  .container {
    width: auto !important;
    padding: 20px;
  }

  /* New listing form */
  #id_starting_bid {
    width: 100% !important;
  }
  .form {
    grid-template-areas: "form" !important;
    grid-template-columns: auto !important;
    grid-template-rows: 800px !important;
  }
  .main-form {
    width: 300px !important;
  }
  #submit-btn {
    margin-left: 100px !important;
    right: 50px;
  }
  .auction-form #id_category:valid ~ label[for="id_category"] {
    top: 280px !important;
  }

  /* Detail */
  .main-image img {
    width: 100% !important;
    min-width: auto !important;
  }
  .note-form #id_starting_bid {
    margin-top: 10px;
  }
  .note-form .btn {
    margin-top: 10px !important;
  }
  .comments {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .form-control {
    width: 100% !important;
  }

  .comment-form button {
    margin-bottom: 30px;
    margin-top: 10px !important;
  }
}
